@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset base */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #0B0F0D;
  color: white;
}

/* Scroll personalizado */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #0B0F0D;
}

::-webkit-scrollbar-thumb {
  background: #63D471;
  border-radius: 10px;
}
