@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset suave */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Scroll bonito */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #0B0F0D;
}

::-webkit-scrollbar-thumb {
  background: #63D471;
  border-radius: 10px;
}
